<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<title>Angham</title>
</head>
<body>

    <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <div class="d">
            <div class="file-upload">
         <input type = "file" name = "file" class="neon-button1"/><p>Upload</p><i class="fa fa-arrow-up"></i>
            </div><br><br>
         <input type = "submit" value="Send" class="neon-button"/>
        </div>
      </form> 

</body>
</html>

